<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>临时聊天室</title>
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/default.css">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	<!--[if IE]>
		<script src="http://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
	<![endif]-->
</head>
<body>
	<div id="chatbox">
		<div id="friendslist">
			<div id="friends">
				<div class="friend">
					<img src="../static/img/5_copy.jpg" id="enter_chat"/>
					<p>
					<input type="text" name="message" id="message" >
					<p><span>Welcome to New World</span></p>
					</p>
				</div>
			</div>	
		</div>	
		<div id="chatview" class="p1">    	
			<div id="profile">
				<div id="close">
					<div class="cy"></div>
					<div class="cx"></div>
				</div>
				<p>St1nger Team</p>
			</div>
				<div id="chat-messages"></div>		
			<div id="sendmessage">
				<input type="text" id="message_content" placeholder="Send message..." />
				<button id="send"></button>			
			</div>
		</div>        
	</div>
	<script src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/socket.io.min.js"></script>
	<script type="text/javascript" src="../static/js/index.js"></script>
</body>
</html>